@charset "UTF-8";
body{
	background-color: #D1C2B1;
}

/* 카페 타이틀 */
body #title{
	position:absolute;
	text-align: center;
	margin-top:0;
	left:45%;
	color: #5a311a;
	font-size: 45px;
	font-family: fantasy;
}
#header {
	position:fixed;
	left:0; top:0; right:0;
	height:100px;
	border-radius: 0px;
	border: 1px solid #000000;
	
}
#nav {
	position:fixed;
	left:0;top:100px;bottom:0;
	width:100px;
}
#content{
	position:absolute;
	margin-top:150px;
	margin-left:150px;
}