@charset "UTF-8";
body{
	background-color: #D1C2B1;
}

/* 카페 타이틀 */
body #title{
	position:absolute;
	text-align: center;
	margin-top:2%;
	left:45%;
	color: #5a311a;
	font-size: 45px;
	font-family: fantasy;
}
#header {
	position:fixed;
	left:0; top:0; right:0;
	height:100px;
	border-radius: 0px;
	border: 1px solid #000000;
	
}
#nav {
	position:fixed;
	left:0;top:185px;bottom:0;
	width:100px;
	
}
#nav dl{
	margin:0px;
}
#nav button{
	position:relative;
	right:0px;
	width: 55px;
	height: 87px;
	background-color: transparent;
	color: #ffffff;
	cursor: pointer;
	border: 0px;
	margin:0px;
	transition-duration: 0.3s;
	text-align: center;
	outline:none;
}
#nav button:hover{
	border-bottom: 4px solid #ffffff;
	padding: 10px 0;
}
#menusection{
	width: 100px;
	position:fixed;
	background-color: #5a311a;
}
#content{
	position:absolute;
	margin-top:150px;
	margin-left:150px;
}
.category{
	height:50px;
	width:540px;
}

.category ul li {
	list-style:none;
	color:white;
	background-color:#2d2d2d;
	float:left;
	line-height:30px;
	vertical-align:middle;
	text-align:center;
}

.category .menuLink {
	color:white;
	display:block;
	width:166.5px;
	font-size:12px;
	font-weight:bold;
	font-family:"Trebuchet MS", Dotum,Arial;
}

.category .menuLink:hover{
	color:red;
	background-color:#4d4d4d;
}