@charset "UTF-8";
/*
.category{
	height:50px;
	width:540px;
}
.category ul li {
	list-style:none;
	color:white;
	background-color:#2d2d2d;
	float:left;
	line-height:30px;
	vertical-align:middle;
	text-align:center;
}

.category .menuLink {
	color:white;
	display:block;
	width:166.5px;
	font-weight:bold;
	font-family:"Trebuchet MS", Dotum,Arial;
}

.category .menuLink:hover{
	color:red;
	background-color:#4d4d4d;
}
*/
/* 주문리스트 박스 안  메뉴박스 */
.coffee, .ade, .ice{
	position: relative;
	float:left;
	border: 1px solid;
	width:20%;
	height:19%;
	text-align: center;
	margin-top: 1%;
	margin-left: 3%;
}
#menuList {
	position: fixed;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	width:500px;
	height:500px;
	top:200px;
	left:198px;
	padding-top:20px;
	background-color: white;
}
#menuUpdate {
	position:fixed;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	width:300px;
	height: 500px;
	top:200px;
	left:715px;
	padding-top:20px;
	background-color: white;
}